env/
*.pyc
.idea/
/tests/.coverage
/.ropeproject/
/.emacs.desktop.lock
/.emacs.desktop
/AutoSchaum/.coverage
/AutoSchaum/.emacs.desktop
/AutoSchaum/.emacs.desktop.lock
/src/schemedraw
/src/schemedraw
